* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background-color: rgb(176, 162, 189);
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.logo1 {
    height: 150px;
    border-radius: 20%;
}
.cabecalho-menu {
    display: flex;
    gap: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(173, 155, 151, 0.466);
    height: 40px;
    width: 25%;
    align-self: auto;
}
.pal1{
    text-align: center;
    border: #c45d08;
    border-radius: 10%;
    gap: 22px;
}
.conteudo {
    border-top: 0.4px solid rgb(66, 60, 61);
    margin-bottom: 48px;
}
.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.conteudo1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: rgb(21, 21, 24);
}
.conteudo3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(122, 64, 64);
}
.buton1 {
    background-color: #c45d08;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgb(26, 19, 19);
    border-radius: 20px;
}
.buton1:hover {
    background-color: rgb(92, 75, 109);
    transform: translateX(5px) translateY(5px);
    box-shadow: #8b80f9 7px 9px;
}
.foto1 {
    height: 430px;
    border-radius: 30%;
}
.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudo-secudario1 {
    border-top: 0.4px solid white;
    padding-top: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
    margin-bottom: 16px;
}
.conteudo-secudario2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 18px;
    color: rgb(233, 228, 220);
}
.rodape {
    padding: 32px;
    border-top: 0.4px solid white;
}
.rodape-imagem {
    height: 80px;
    display: block;
    margin: 0;
    text-align: center;
    border-radius: 50%;
}